# ----- 临时资料 ----------------------
临时资料/
.vscode/*吴乐川备份*





# ----- 可从外界重复获得之资源 ----------
node_modules/





# ----- 可重复构建之资源 ---------------
测试集/诸测试之输出/**/*.md
测试集/诸测试之输出/**/*.png
测试集/诸测试之输出/**/*.jpg
测试集/诸测试之输出/**/*.webm

# 应故意保留测试输出的 html ，以便在版本更迭时新旧比对，检查错误。
# 测试集/诸测试之输出/**/*.html

文档集/**/*.html
ReadMe.html





# ----- 本计算机专用资料 ---------------
.vs/**/*
